# Virtual Environment Files
.venv/
.venv*/
venv/
venv*/

# Mac files
.DS_Store

# Personal Files
notes.txt

# Recommended Python Cache and Tools Files
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.build/
.dist/

.ipynb_checkpoints/
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.cache/
